* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 20px;
    
  }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

       /* HEADER */
.nav-bar {
    width: 100%;
    height: 70px;
    background: #4185c9;
}

.nav-bar nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar span {
    margin-top: 16px;
    text-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    margin-right: 12rem;
}

.nav-bar ul {
    display: flex;
    
}
ul li {
    padding: 15px 30px 0 0;
    list-style-type: none;
}

ul li:hover  {
    transform: scale(1.1,1.1);
    transition: 1s;
}

li .name-bar {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px
}

.name-bar:hover{
    color: black;
}

     /* MAIN */
.main main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    font-size: x-large;
    font-weight: 100;
    margin-top: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main p{
    font-size: 16px;
    width: 60em;
    color: rgb(192, 192, 191);  
    margin-top: 40px; 
}

span {
   margin-left: 10em;
}
main .two-button {
    margin-top: 5rem;
}

.two-button #button1{
    padding: 23px 50px;
    border-radius: 0;
    background: white;
    color: rgb(82, 82, 82);
    border: 2px solid black;
    font-size:small;
    letter-spacing: 2px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 50px;
}

#button1:hover {
    transform: scale(1.2);
    transition:  2s ease-out;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.two-button #button2{
    padding: 23px 50px;
    border-radius: 0;
    background: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    font-size:small;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 50px;
}

#button2:hover {
    transform: scale(1.2);
    transition:  2s ease-out;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

      /* FOOTER */
.footer {
    background: #65aaf0;
    height: 400px;
    margin-top: 200px;
}

.footer footer {
    display: flex;
    justify-content: center;
}

#footer1_col4{
    margin-top: 50px;
    display: block;
    margin-left: 1px;  
}

#footer1_col4 h1{
    padding-bottom: 20px;
    font-size: large;
}

#footer1_col4 p {
    width: 20rem;
    font-size:medium ;
    color: white;
}

#footer_p {
    margin-top: 8px;
    width: 20rem;
    font-size:medium ;
    color: white;
}

#footer2_col3{
    text-align: center;
    margin-top: 50px;
}

#footer2_col3 h1 {
    font-size: large;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

#footer3_col4{
    margin-top: 50px;
}

#footer3_col4 h1 {
    padding-bottom: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}

.col-4 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: 100;
    font-weight: 100;
}

.col-4 p {
    color: white;
    font-size:medium;  
}

.left-img .img-left {
    width: 100px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.right-img .img-right {
    width: 100px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.center-img .img-center {
    width: 100px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.all-button{
    margin-top: 4px;
}

.all-button .button1{
    margin-top:10px ;
    color: rgb(172, 172, 172);
    height: 40px;
    width: 120px;
    background: rgb(253, 253, 253);
    border: 0.5px solid white;
    font-size: 8px;
    cursor: pointer; 
}

.button1:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.all-button .button2 {
    margin-top:10px ;
    color: white;
    height: 40px;
    width: 120px;
    background: rgb(38, 38, 38);
    border: 0.5px solid white;
    font-size: 7px;
    cursor: pointer;
}

.button2:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}




@media only screen and (max-width:600px) {

    /* HEADER */
    .nav-bar {
        width: 100%;
        height: 55px;    
        position: absolute;
        top: 0;
        z-index: 1;
    }
    
    .nav-bar nav {
        display: block;
        text-align: center;
        position: relative;
    }
    
    span {
        width: 50px;
        height: 35px;
    }
    span img {
        width: 45px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 42%;
        text-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1); 
    }
    
    .nav-bar ul {
        display: block; 
        margin-top: 30px; 
    }

    ul li {
        padding: 8px;
        list-style-type: none;
        background: linear-gradient(90deg, #4185c9 0%, #72b0f2 100%);;
        margin: 7px;
        margin-left: 22px;
        margin-top: 10px;
        border-radius: 2px;
        width: 85%;
        cursor: pointer;
    }
    

    ul li:hover  {
        transform: scale(1);
        transition: 0s;
        box-shadow: 0px ;
        background: linear-gradient(90deg, #4185c9 0%, #72b0f2 100%);;
    }
    
    li .name-bar {
        font-weight: 700;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        cursor: pointer;
          
    }
    
    .name-bar:hover{
        color:white;
    }
        /* MAIN */
.main main {
margin-top: 320px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

main h1 {
text-align: center;
font-size: 18px;
font-weight: 100;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
    margin-left: 0em;
 }

main p{
font-size: 12px;
width: 70%;
color: rgb(192, 192, 191);  
text-align: center; 
}

main .all-button {
margin-top: 3rem;
text-align: center;
}

.two-button #button1{
padding: 18px 28px;
border-radius: 0;
background: white;
color: black;
border: 1px solid black;
font-size:10px;
cursor: pointer;
margin-right: 10px;
margin-top: 50px;
display: flex;
justify-content: center;
flex-direction: row;
}

#button1:active {
background: rgb(215, 215, 215);
border:1px solid rgba(84, 84, 84, 0.333);
}

#button1:hover {
transform: scale(1);
transition:  0s ease-out;
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.two-button #button2{
padding: 18px 28px;
border-radius: 0;
background: rgb(53, 53, 53);
color: white;
border: 1px solid black;
font-size: 10px;
cursor: pointer;
margin-left: 7px;
margin-top: 50px;
display: flex;
justify-content: center;
flex-direction: column;

}

#button2:active {
background: rgb(62, 62, 62);
}

#button2:hover {
transform: scale(1);
transition:  0s ease-out;
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}


/* FOOTER */

.footer {
    background: #65aaf0;
    height: 60rem;
    margin-top: 100px;
    display: flex;  
}

.footer footer {
    display:block;
}

#footer1_col4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;  
}

#footer1_col4 h1{
    padding-bottom: 10px;
    font-size: medium;
    font-weight: 100;
    width: 90px;
    height: 70px;
    text-align: start; 
}

#footer1_col4 p {
    font-size: small;
    width: 80%;
}

#footer2_col3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.col-3 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#footer3_col4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer3_col4 h1 {
    padding-bottom: 20px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.col-4 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: 100;
    font-weight: 100;
}

.col-4 p {
    color: white;
    font-size: small;
    width: 70%;
    text-align: center;
}

.left-img {
    display: flex;
    margin-bottom: 10px;
    
}
.center-img {
    display: flex;
    margin-bottom: 10px;
}
.right-img {
    display: flex;
}

.left-img .img-left {
    width: 120px;
    height: auto;
    object-fit: cover;
    padding: 5px;
}
.right-img .img-right {
    width: 120px;
    height: auto;
    object-fit: cover;
    padding: 5px;
}

.center-img .img-center {
    width: 120px;
    height: auto;
    object-fit: cover;
    padding: 5px;
}

.all-button{
    margin-top: 3px;
}

.all-button .button1{
    margin-top:10px ;
    color: rgb(172, 172, 172);
    height: 45px;
    width: 130px;
    background: rgb(253, 253, 253);
    border: 0.5px solid white;
    font-size: 9px;
    cursor: pointer; 
}

.button1:active {
    background: rgb(215, 215, 215);
}

.button1:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.all-button .button2 {
    margin-top:10px ;
    color: white;
    height: 45px;
    width: 130px;
    background: rgb(38, 38, 38);
    border: 0.5px solid white;
    font-size: 9px;
    cursor: pointer;
}

.button2:active {
    background: rgb(73, 73, 73);
}

.button2:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
}




@media only screen and (min-width: 600px) and (max-width: 768px) {

    /* HEADER */
    .nav-bar {
        width: 100%;
        height: 55px;
        position: absolute;
        top: 0;
        z-index: 1;
     }
     
     .nav-bar nav {
        display: block;
        text-align: center;
        position: relative;
     }
     
     span img {
        width: 30px;
        height: 25px;
        margin-top: 9px;
        text-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1); 
        margin-left: 1rem;
     }
     
     .nav-bar ul {
        display: block; 
        margin-top: 35px;    
     }
     
     ul li {
        padding: 7px;
        list-style-type: none;
        background: linear-gradient(90deg, #4185c9 0%, #72b0f2 100%);;
        margin: 7px;
        margin-left: 0.5rem;
        margin-top: 10px;
        border-radius: 2px;
        width: 40%; 
     }
     
     ul li:hover  {
        transform: scale(1);
        transition: 0s;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        
     }
     
     li .name-bar {
        font-weight: 700;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin-right: 6rem;  
     }
     
     .name-bar:hover{
        color:white ;
     }

  /* MAIN */

  .main main {
    margin-top: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    main h1 {
    font-size: 22px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    span {
        margin-left: 0em;
     }
    
    main p{
    font-size: 14px;
    width: 80%;
    color: rgb(192, 192, 191);
    text-align: center;   
    }
    
    main .all-button {
    margin-top: 3rem;
    }
    
    .two-button #button1{
    padding: 18px 28px;
    border-radius: 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-size:10px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;
    }
    
    #button1:active {
    background: rgb(215, 215, 215);
    border:1px solid rgba(84, 84, 84, 0.333);
    }
    
    #button1:hover {
    transform: scale(1);
    transition:  0s ease-out;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
    
    .two-button #button2{
    padding: 18px 28px;
    border-radius: 0;
    background: rgb(53, 53, 53);
    color: white;
    border: 1px solid black;
    font-size: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 50px;
    }
    
    #button2:active {
    background: rgb(62, 62, 62);
    }
    
    #button2:hover {
    transform: scale(1);
    transition:  0s ease-out;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
    

 /* FOOTER */

 .footer {
    background: #65aaf0;
    height: 100%;
    margin-top: 15em;
    display: flex;  
}

.footer footer {
    display:block;
}

#footer1_col4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;  
}

#footer1_col4 h1{
    padding-bottom: 10px;
    font-size: medium;
    font-weight: 100;
    width: 90px;
    height: 70px;
    text-align: start; 
}

#footer1_col4 p {
    font-size: 15px;
    width: 80%;
}

#footer2_col3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.col-3 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#footer3_col4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer3_col4 h1 {
    padding-bottom: 20px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.col-4 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: 100;
    font-weight: 100;
}

.col-4 p {
    color: white;
    font-size: 15px;
    width: 70%;
    text-align: center;
}

.left-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}
.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.right-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-img .img-left {
    width: 120px;
    height: auto;
    object-fit: cover;
    
}
.right-img .img-right {
    width: 120px;
    height: auto;
    object-fit: cover;
    
}

.center-img .img-center {
    width: 120px;
    height: auto;
    object-fit: cover;
   
}

.all-button{
    margin-top: 3px;
}

.all-button .button1{
    margin-top:10px ;
    color: rgb(172, 172, 172);
    height: 45px;
    width: 130px;
    background: rgb(253, 253, 253);
    border: 0.5px solid white;
    font-size: 9px;
    cursor: pointer; 
}

.button1:active {
    background: rgb(215, 215, 215);
}

.button1:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.all-button .button2 {
    margin-top:10px ;
    color: white;
    height: 45px;
    width: 130px;
    background: rgb(38, 38, 38);
    border: 0.5px solid white;
    font-size: 9px;
    cursor: pointer;
}

.button2:active {
    background: rgb(73, 73, 73);
}

.button2:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
}




@media only screen and (min-width: 768px) and (max-width:992px){

    /* MAIN */
.main main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main p{
    font-size: medium;
    width: 42rem;
    color: rgb(192, 192, 191);
    text-align: center;   
}

span {
    margin-left: 0em;
 }

main .all-button {
    margin-top: 3rem;
}

.two-button #button1{
    padding: 18px 25px;
    border-radius: 0;
    background: white;
    color: rgb(66, 66, 66);
    border: 2px solid black;
    font-size: x-small;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;
}

#button1:hover {
    transform: scale(1.2);
    transition:  2s ease-out;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.two-button #button2{
    padding: 18px 25px;
    border-radius: 0;
    background: rgb(53, 53, 53);
    color: white;
    border: 2px solid black;
    font-size: x-small;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 50px;
}

#button2:hover {
    transform: scale(1.2);
    transition:  2s ease-out;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

/* FOOTER */
.footer {
    background: #65aaf0;
    height: 100%;
    margin-top: 100px;
}

.footer footer {
    display: flex;
    justify-content: center;
}

#footer1_col4{
    margin-top: 50px;
    width: 15em;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;  
}

#footer1_col4 h1{
    padding-bottom: 20px;
    font-size: large;
}

#footer1_col4 p {
    font-size:small ;
    color: white;
    width: 15em;
}

#footer2_col3{
    text-align: center;
    margin-top: 50px;
    width: 16em;
}

#footer2_col3 h1 {
    font-size: large;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

#footer3_col4{
    margin-top: 50px;
}

#footer3_col4 h1 {
    padding-bottom: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif; 
}

.col-4 p {
    color: white;
    font-size:small; 
    width: 15em; 
}

.left-img .img-left {
    width: 90px;
    height: 55px;
    object-fit: cover;
    padding: 2.5px;
}

.right-img .img-right {
    width: 90px;
    height: 55px;
    object-fit: cover;
    padding: 2.5px;
}

.center-img .img-center {
    width: 90px;
    height: 55px;
    object-fit: cover;
    padding: 2.5px;
}

.all-button{
    margin-top: 4px;
}

.all-button .button1{
    margin-top:10px ;
    color: rgb(172, 172, 172);
    height: 40px;
    width: 120px;
    background: rgb(253, 253, 253);
    border: 0.5px solid white;
    font-size: 8px;
    cursor: pointer; 
}

.button1:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.all-button .button2 {
    margin-top:10px ;
    color: white;
    height: 40px;
    width: 120px;
    background: rgb(38, 38, 38);
    border: 0.5px solid white;
    font-size: 7px;
    cursor: pointer;
}

.button2:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}



}




@media only screen and (min-width: 1200px) {
    /* FOOTER */
.footer {
    background: #65aaf0;
    height: 100%;
}

.footer footer {
    display: flex;
    justify-content: center;
}

#footer1_col4{
    margin-top: 20px;
    display: block;
    margin-left: 10px;  
}

#footer1_col4 h1{
    padding-bottom: 20px;
    font-size: large;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

#footer1_col4 p {
    width: 28rem;
    font-size:medium ;
    color: white;
}

#footer_p {
    margin-top: 8px;
    width: 20rem;
    font-size:x-small ;
    color: white;
}

#footer2_col3{
    text-align: center;
    margin: 0;
}

#footer2_col3 h1 {
    font-size: large;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#footer3_col4{
    margin-top: 20px;
}

#footer3_col4 h1 {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.col-4 p {
    color: white;
    font-size:medium;  
}

.left-img .img-left {
    width: 90px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.right-img .img-right {
    width: 90px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.center-img .img-center {
    width: 90px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.all-button{
    margin-top: 3px;
}

.all-button .button1{
    margin-top:10px ;
    color: rgb(172, 172, 172);
    height: 45px;
    width: 130px;
    background: rgb(253, 253, 253);
    border: 0.5px solid white;
    font-size: 8px;
    cursor: pointer; 
}

.button1:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.all-button .button2 {
    margin-top:10px ;
    color: white;
    height: 45px;
    width: 130px;
    background: rgb(38, 38, 38);
    border: 0.5px solid white;
    font-size: 7px;
    cursor: pointer;
}

.button2:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

}




@media only screen and (min-width: 1800px) {
    /* FOOTER */
.footer {
    background: #65aaf0;
    height: 100%;
}

.footer footer {
    display: flex;
    justify-content: center;
}

#footer1_col4{
    margin-top: 20px;
    display: block;
    margin-left: 10px;  
}

#footer1_col4 h1{
    padding-bottom: 20px;
    font-size: large;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}


#footer1_col4 p {
    width: 90%;
    font-size:medium ;
    color: white;
    margin-top: 8px;
}

#footer2_col3{
    text-align: center;
}

#footer2_col3 h1 {
    font-size: large;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#footer3_col4{
    margin-top: 20px;
}

#footer3_col4 h1 {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.col-4 p {
    color: white;
    font-size:medium;  
}

.left-img .img-left {
    width: 90px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.right-img .img-right {
    width: 90px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.center-img .img-center {
    width: 90px;
    height: 60px;
    object-fit: cover;
    padding: 2.5px;
}

.all-button{
    margin-top: 3px;
}

.all-button .button1{
    margin-top:10px ;
    color: rgb(172, 172, 172);
    height: 50px;
    width: 140px;
    background: rgb(253, 253, 253);
    border: 0.5px solid white;
    font-size: 11px;
    cursor: pointer; 
}

.button1:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.all-button .button2 {
    margin-top:10px ;
    color: white;
    height: 50px;
    width: 140px;
    background: rgb(38, 38, 38);
    border: 0.5px solid white;
    font-size: 11px;
    cursor: pointer;
}

.button2:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

}